/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: hsl(0deg 0% 5.49%);
}

.interface {
    max-width: 1300px;
    margin: 0 auto;  
}

.flex {
    display: flex;    
}

h2.titulo {
    color: #9840fd;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 80px;
}

/* ESTILIZAÇÃO DO MENU */

header {
    padding: 20px 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header .inicio a {
    text-decoration: none;
    font-size: 30px;
    color: #7e7e7e;
    display: inline-block;
}
    

header .inicio a:hover {
    transform: scale(1.05);
    color: #9840fd;
    transition: .2s;
}

header .menu a {
    text-decoration: none;
    color: #7e7e7e;
    display: inline-block;
}

header .menu a:hover {
    transform: scale(1.07);
    color: #9840fd;
    transition: .2s;
    
}

header .menu ul {
    list-style-type: none;
}

header .menu ul li {
    display: inline-block;
    padding: 15px 20px;
}

/* estilização seção home */

section.home {
    padding: 10% 4%;
    padding-bottom: 10%; 
}

section.home .flex {
    justify-content: center;
    align-content: center;
    gap: 80px;
}

.home_texto {
    padding: 100px 0;
}

.home h1 {
    color: #9840fd;
    font-weight: 400;
    font-size: 50px;
}

.home h3 {
    color: #7e7e7e;
    font-weight: 300;
    font-size: 30px;
}


.home_texto a {
    text-decoration: none;
    color: #7e7e7e;
}

.home_texto a:hover {
    color: #9840fd;
}

.home_texto ul li {
    display: inline-block;
    padding: 10px 10px;
}

.home_texto ul li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

@keyframes flutuar {
    0% {
    top: 0px;
    }
    100% {
        top: 30px;
    }
}

.home_img img {
    width: 400px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


/* ESTILIZAÇÃO SOBRE MIM */

section.about .flex {
    justify-content: center;
    align-content: center;
    gap: 100px;
}

.about {
    padding: 10% 4%;
    padding-bottom: 10%; 
    background-color: #161616;
}

.about .about_texto {
    color: #fff;
    padding: 50px 0px;
}

.about .about_texto h2 {
    color: #9840fd;
    font-size: 50px;
    padding: 20px 0px;
    font-weight: 500;
}

.about .about_texto p {
    font-weight: 300;
    color: #7e7e7e;
    font-size: 20px;
}

.about img {
    width: 25rem;
    border-radius: 2rem;
    box-shadow: 0 0 20px black;
}
    
/* ESTILIZAÇÃO das skills */

section.skills {
    padding: 10% 4%;
    padding-bottom: 10%; 
}

section.skills .flex {
    gap: 60px;
}

.skills .skills_box {
    color: #7e7e7e;
    padding: 40px;
    border: 2PX solid hsl(0deg 0% 5.49%);
    border-radius: 20px;    
}

.skills .skills_box:hover {
    transform: scale(1.03);
    transition: 0.5s;
    box-shadow: 0 0 20px #9840fd;
}

.skills .skills_box h3 {
    font-size: 30px;
    margin: 15px 0;
}

/* ESTILIZAÇÃO dos projetos */

section.projects {
    padding: 10% 4%;
    padding-bottom: 10%;
    background-color: #161616; 
}

.projects .flex {
    gap: 80px;
}

.projects .projects_box {
    background-color: black;
    background-size: cover;
    width: 360px;
    height: 460px;
    border-radius: 40px;
    cursor: pointer;
    background-position: 100% 0%;    
    position: relative;
    transition: background-position 6s, box-shadow 0.5s;
}

.projects .projects_box:hover {        
    background-position: 100% 100%;
    box-shadow: 0 0 20px #9840fd;    
}

.projects .projects_box .overlay {
    color: #9840fd;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;   
}

.projects .projects_box .overlay:hover {
    opacity: 1;
    transition: 1s;
}

/* ESTILIZAÇÃO do contato */

section.contact {
    padding: 10% 4%;
    padding-bottom: 10%;
}


/* ESTILIZAÇÃO do footer */

footer.rodape .interface {
    border-top: 2px solid #7e7e7e;
}

footer.rodape {
    padding: 2% 4%;    
}

footer.rodape .flex {
    justify-content: space-between;
    align-content: center;
}

footer.rodape .coluna1 {
    padding: 5%;
    color: #7e7e7e;
}

footer.rodape .coluna2 {
    padding: 5%;
}

footer.rodape .coluna2 ul {
    display: flex;
}

footer.rodape .coluna2 li {
    display: inline-block;
    padding: 10px 10px;
}

footer.rodape .coluna2 a {
    text-decoration: none;
    color: #7e7e7e;
}

footer.rodape .coluna2 a:hover {
    color: #9840fd;
}

footer.rodape .coluna2 ul li {
    display: inline-block;
    padding: 10px 10px;
}

footer.rodape .coluna2 ul li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}