/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;   
}

.interface {
    max-width: 1300px;
    margin: 0 auto;  
}

.flex {
    display: flex;
}

/* ESTILIZAÇÃO MENU */

header {
    padding: 20px 4%;
}

header > .interface {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header .inicio a {
    text-decoration: none;
    font-size: 30px;
    color: #7e7e7e;
    display: inline-block;
}

header .inicio a:hover {
    transform: scale(1.05);
    color: #fff;
    transition: .2s;
}

header .menu a {
    text-decoration: none;
    color: #7e7e7e;
    display: inline-block;
    
}

header .menu a:hover {
    transform: scale(1.07);
    color: #fff;
    transition: .2s;
    
}

header .menu ul {
    list-style-type: none;
}

header .menu ul li {
    display: inline-block;
    padding: 15px 20px;
}

/* estilização seção home */

section.home {
    padding: 40px 4%;
}

section.home .flex {
    justify-content: center;
    align-content: center;
    gap: 80px;
}

.home_texto {
    padding: 100px 0;
}

.home h1 {
    color: #fff;
    font-weight: 400;
    font-size: 50px;
}

.home h3 {
    color: #7e7e7e;
    font-weight: 300;
    font-size: 30px;
}



.home_texto a {
    text-decoration: none;
    color: #7e7e7e;
}

.home_texto a:hover {
    color: #fff;
}

.home_texto ul li {
    display: inline-block;
    padding: 10px 10px;
}

.home_texto ul li:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.home_img img {
    width: 400px;
    border: 4px solid ;
    border-radius: 20%;
}

/* ESTILIZAÇÃO SOBRE MIM */

section.about .flex {
    justify-content: center;
    align-content: center;
    gap: 40px;
}

.about {
    padding: 40px 4%;
}

.about .about_texto {
    color: #fff;
    padding: 100px 0px;
}

.about img {
    width: 400px;
    border: 1px solid;
    border-radius: 20%;
}
